<h1 mat-dialog-title class="text-center">{{data? 'Edit': 'Add'}} bookmark</h1>
<div mat-dialog-content>
  <form [formGroup]="bookmarkForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput />
      <mat-error *ngIf="bookmarkForm.controls.name.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Url</mat-label>
      <input formControlName="url" matInput />
      <mat-error *ngIf="bookmarkForm.controls.url.hasError('required')">
        Url is required
      </mat-error>
      <mat-error
        *ngIf="!bookmarkForm.controls.url.hasError('required') && bookmarkForm.controls.url.hasError('pattern')">
        This is not a valid Url
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <input formControlName="group" matInput />
      <mat-error *ngIf="bookmarkForm.controls.group.hasError('required')">
        Group is required
      </mat-error>
    </mat-form-field>
  </form>
  <div>
    <button class="float-left" mat-button mat-dialog-close>Close</button>
    <button class="float-right" mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
