table {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
}

.app-bookmarks {
  padding: 3rem;
}

.capital-letter {
  text-transform: capitalize;
  cursor: pointer;
}

.upper-letter {
  text-transform: uppercase;
}

.remove {
  color: red;
  cursor: pointer;
}
.edit{
  margin-left: 0.5rem;
  cursor: pointer;
}

.float-button {
  position: fixed;
  bottom: 40%;
  right: 105px;
  display: table;
}
.mt-10{
  margin-top: 0.5rem;
}
